<section class="bg-darkgreen">
    <div
        class="container grid grid-cols-2 gap-8 py-8 mx-auto text-center md:grid-cols-4"
    >
        <div>
            <p class="text-5xl font-bold text-white">
                <span class="inline text-white"></span>
                <span class="text-neutral-50"> +2500</span>
            </p>
            <p
                class="text-xs font-medium tracking-wide text-blue-300 uppercase"
            >
                Estudiantes
            </p>
        </div>
        <div>
            <p class="text-5xl font-bold text-white">
                <span class="inline text-white"></span>
                <span class="text-neutral-50"> +15</span>
            </p>
            <p
                class="text-xs font-medium tracking-wide text-blue-300 uppercase"
            >
                Examenes internacionales
            </p>
        </div>
        <div>
            <p class="text-5xl font-bold text-white">
                <span class="inline text-white"></span>
                <span class="text-neutral-50"> 98%</span>
            </p>
            <p
                class="text-xs font-medium tracking-wide text-blue-300 uppercase"
            >
                Tasa de exito
            </p>
        </div>
        <div>
            <p class="text-5xl font-bold text-white">
                <span class="inline text-white"></span>
                <span class="text-neutral-50"> +15</span>
            </p>
            <p
                class="text-xs font-medium tracking-wide text-blue-300 uppercase"
            >
                Años de experiencia
            </p>
        </div>
    </div>
</section>
