---
import WhatsappIcon from "../components/icons/wpp.astro";
import PhoneIcon from "./icons/phone.astro";
import Instagram from "./icons/Instagram.astro";
---

<footer class="bg-neutral-950 w-full" id="footer">
    <div class="max-w-screen-xl px-4 mx-auto">
        <div
            class="text-center py-5 sm:py-8 items-center justify-center text-gray-100 md:text-md flex flex-col "
        >
            <a href="https://maps.app.goo.gl/4Jy2ZCSuU5jUnK1Y7" class="font-semibold">Dirección: Av. Dr. Enrique Pouey 588, Las Piedras, Canelones</a>

            <div class="md:inline-flex gap-10 pt-2 text-md text-sm">
                <a class="flex font-semibold" href="https://wa.me/+59899177174"
                    ><WhatsappIcon />099 177 174</a
                >
                <span class="hidden md:block">|</span>
                <a class="flex font-semibold" href="tel:+23660662"
                    ><PhoneIcon />2366 0662</a
                >
                <span class="hidden md:block">|</span>
                <a class="flex font-semibold" href="https://wa.me/+59892666667"
                    ><WhatsappIcon />092 666 667</a
                >
            </div>

            <div
                class="text-center text-gray-100 font-light flex items-center justify-center my-2 gap-x-2"
            >
            <span class="text-center items-center justify-center text-gray-100 md:text-md">Encontranos en: </span>
                <a
                    href="https://www.instagram.com/personalize_english/"
                    class="text-gray-200 duration-200 hover:text-white"
                    aria-label="Instagram"><Instagram /></a
                >
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d487.44764145462113!2d-56.22396608553577!3d-34.72676966576279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a1d2a245d1c07b%3A0x763a449c00104421!2sPersonalize%20English!5e0!3m2!1ses-419!2suy!4v1721508449112!5m2!1ses-419!2suy" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <hr />
        <div class="flex m-auto justify-center gap-5 md:gap-10 flex-wrap my-5">
            <a href="https://www.cambridgeenglish.org/">
                <img
                    src="./cambridge.png"
                    alt="Logo de University of Cambridge"
                    class="h-12 my-4"
                />
            </a>
            <a href="https://www.anglia.org/exams/general-english-exams">
                <img
                    src="./Anglia.png"
                    alt="Logo de Chichester"
                    class="h-12 my-4"
                />
            </a>
            <a href="https://www.ets.org/">
                <img src="./ets.svg" alt="Logo de ETS" class="h-12 my-4" />
            </a>
            <a href="https://michiganassessment.org/">
                <img
                    src="./michigan.png"
                    alt="Logo de University of Michigan"
                    class="h-12 my-4"
                />
            </a>
            <a href="https://ielts.org/">
                <img src="./ielts.png" alt="Logo de IELTS" class="h-10 my-4" />
            </a>
            <div
            class="text-center text-sm text-gray-100 font-light"
        >
        "Si deseas saber más sobre nuestras opciones de preparaciones de exámenes internacionales, no dudes en <a href="https://wa.me/+59899177174" class="font-semibold"> contactarnos</a>. Estamos aquí para ayudarte."
        </div>
        </div>
        <hr />
    </div>

    <div
        class="text-center text-gray-100 pt-16 font-light flex items-center justify-center"
    >
        Created by The Arisen
    </div>
</footer>
